body{
    background-size:cover;
    background-position:center;
}

#heading{
   margin:0px;
    
    width:97%;
    background-color:lightblue;
border-radius:10px;
color:white;
}


canvas{
    border-radius:5px;
    box-shadow:10px 10px 10px grey;
    
}

#status{
    margin-bottom:20px;
}